@tailwind base;
@tailwind components;
@tailwind utilities;
/* scrollbar */
/* ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: rgb(194, 194, 196);
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(#A1045A);
    border-radius: 100px;
  } */


input:focus {
    outline: none;
    border: none;
}

input:focus {
    border: 1px solid rgba(0, 170, 255, 0.824);
}

input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 3px 10px;
    font-size: 16px;
    border-radius: 4px;
}

.ant-spin-spinning svg {
    fill: #ffffff !important;
}

table th {
    font-size: 12px;
    font-weight: 500;
    color: var(--th-color) !important;
}

.td {
    padding: 14px 12px;
    font-size: 14px;
    color: #131D26;
    white-space: nowrap;
}

.th {
    padding: 12px 12px;
    white-space: nowrap;
}

.th div {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.status-success {
    background: #00A86F;
    color: #fff;
    border-radius: 16px;
    padding: 2px 8px;
    max-width: 80px;
    text-align: center;
}

.status-danger {
    background: #d40a0a;
    color: #fff;
    border-radius: 16px;
    padding: 2px 8px;
    max-width: 80px;
    text-align: center;
}

.main-content {
    margin-left: 280px !important;
}

.selected-icon svg path {
    stroke: #a1045a;
}

.selected-icon svg circle {
    stroke: #a1045a;
}

.arrow-icn svg path {
    stroke: #fff !important;
}

.gradient-text {
    background: linear-gradient(135deg, #ff7e5f, #feb47b, #ff6a00, #ee0979);
    /* Richer gradient colors */
    background-size: 300% 300%;
    animation: gradientAnimation 8s ease infinite, scaleAnimation 1.5s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
/* 
@keyframes scaleAnimation {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.03);
    }
} */